<div class="center hero-unit">
  <h1>Two is better than one</h1>

  <% img_lst,title_lst,des_lst=carousel_content %>
  <%= render "carousel",:img_url_list=>img_lst,:title_list=>title_lst,:desc_list=>des_lst %>
  
  <br/>
  <%= link_to "Go Read Our Love Story",stories_path,class:"btn btn-large btn-primary"%>
</div>