<div class="row">
  <div class="span6 offset3"><h1>New event</h1></div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span5">
      <%= render 'form' %>
    </div>
    <div class="span7">
      <ul class="thumbnails">
		<% tmp_crumbs.each do |crumb| %>
			<li class="span4">
				<div class="thumbnail">
			    <%= image_tag crumb.media.url(:square),size:"100x100" %>
				</div>
	  		</li>
		<% end %>
	  </ul>
    </div>
  </div>
</div>

<%= link_to 'Back', story_events_path(@story) %>
