<p><%=t('.welcome')%><%= @email %>!</p>

<p><%=t('.confirm_account_with_link')%></p>

<p><%= link_to t('.confirm_account'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
