<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Your website..</title>
	<link rel="stylesheet" href="/assets/photobox.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src='/assets/photobox.js'></script>
</head>
<body>
	<%= yield %>
</body> 
</html>